In [75]:
import pandas as pd
import numpy as np

In [76]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2018"

In [77]:
df1 = pd.read_html(link, header=0)[2]
df2 = pd.read_html(link, header=0)[3]
df3 = pd.read_html(link, header=0)[4]
df4 = pd.read_html(link, header=0)[5]

In [78]:
len(df1)

59

In [79]:
len(df2)

59

In [80]:
len(df3)

67

In [81]:
movies = pd.concat([df1,df2,df3,df4],axis=0)

In [82]:
len(movies)

246

In [83]:
movies

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,J A N U A R Y,5,Insidious: The Last Key,Universal Pictures / Blumhouse Productions / S...,Adam Robitel (director); Leigh Whannell (scree...,[2]
1,J A N U A R Y,5,The Strange Ones,Vertical Entertainment,Christopher Radcliff (director/screenplay); La...,[3]
2,J A N U A R Y,12,The Commuter,Lionsgate / StudioCanal / The Picture Company,Jaume Collet-Serra (director); Byron Willinger...,[4]
3,J A N U A R Y,12,Proud Mary,Screen Gems,"Babak Najafi (director); John S. Newman, Chris...",[5]
4,J A N U A R Y,12,Acts of Violence,Lionsgate Premiere,Brett Donowho (director); Nicolas Aaron Mezzan...,[6]
...,...,...,...,...,...,...
56,D E C E M B E R,21,Second Act,STX Entertainment,"Peter Segal (director); Justin Zackham, Elaine...",[235]
57,D E C E M B E R,25,Holmes & Watson,Columbia Pictures / Gary Sanchez Productions /...,Etan Cohen (director/screenplay); Will Ferrell...,[141]
58,D E C E M B E R,25,Vice,Annapurna Pictures / Plan B Entertainment,Adam McKay (director/screenplay); Christian Ba...,[116]
59,D E C E M B E R,25,On the Basis of Sex,Focus Features,Mimi Leder (director); Daniel Stiepleman (scre...,[206]
60,D E C E M B E R,25,Destroyer,Annapurna Pictures,"Karyn Kusama (director); Phil Hay, Matt Manfre...",[236]

In [84]:
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = '6d8bfe0dbef34d25e64f64cabec93e20'

In [85]:
from tmdbv3api import Movie
tmdb_movie = Movie()
def get_genre(x): #pass in the title of the movies
    genres = []
    result = tmdb_movie.search(x) #the title will be searched in the tmdb_movie
    movie_id = result[0].id #we will match the "id" with the "title"
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key)) #we will get the result from the IMDb data
    data_json = response.json() #we will then convert it to a json file
    if data_json['genres']: #in the json file we will only need to extract the "genre"
        genre_str = " " 
        for i in range(0,len(data_json['genres'])):
            genres.append(data_json['genres'][i]['name']) #we will then add the "genre" to the empty genre list we created above
        return genre_str.join(genres)
    else:
        np.NaN # we will return the results but if we don't find anything we will consider it as a missing value

In [86]:
movies['genres'] = movies['Title'].map(lambda x: get_genre(str(x)))

In [87]:
movies

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.,genres
0,J A N U A R Y,5,Insidious: The Last Key,Universal Pictures / Blumhouse Productions / S...,Adam Robitel (director); Leigh Whannell (scree...,[2],Horror Mystery Thriller
1,J A N U A R Y,5,The Strange Ones,Vertical Entertainment,Christopher Radcliff (director/screenplay); La...,[3],Drama Mystery
2,J A N U A R Y,12,The Commuter,Lionsgate / StudioCanal / The Picture Company,Jaume Collet-Serra (director); Byron Willinger...,[4],Action Thriller Mystery
3,J A N U A R Y,12,Proud Mary,Screen Gems,"Babak Najafi (director); John S. Newman, Chris...",[5],Thriller Action Crime
4,J A N U A R Y,12,Acts of Violence,Lionsgate Premiere,Brett Donowho (director); Nicolas Aaron Mezzan...,[6],Action Crime Thriller
...,...,...,...,...,...,...,...
56,D E C E M B E R,21,Second Act,STX Entertainment,"Peter Segal (director); Justin Zackham, Elaine...",[235],Romance Comedy
57,D E C E M B E R,25,Holmes & Watson,Columbia Pictures / Gary Sanchez Productions /...,Etan Cohen (director/screenplay); Will Ferrell...,[141],Mystery Adventure Comedy Crime
58,D E C E M B E R,25,Vice,Annapurna Pictures / Plan B Entertainment,Adam McKay (director/screenplay); Christian Ba...,[116],Comedy Drama
59,D E C E M B E R,25,On the Basis of Sex,Focus Features,Mimi Leder (director); Daniel Stiepleman (scre...,[206],Drama History
60,D E C E M B E R,25,Destroyer,Annapurna Pictures,"Karyn Kusama (director); Phil Hay, Matt Manfre...",[236],Thriller Crime Drama Action

In [88]:
movies_2018 = movies[['Title','Cast and crew','genres']]

In [89]:
movies_2018.head()

,Title,Cast and crew,genres
0,Insidious: The Last Key,Adam Robitel (director); Leigh Whannell (scree...,Horror Mystery Thriller
1,The Strange Ones,Christopher Radcliff (director/screenplay); La...,Drama Mystery
2,The Commuter,Jaume Collet-Serra (director); Byron Willinger...,Action Thriller Mystery
3,Proud Mary,"Babak Najafi (director); John S. Newman, Chris...",Thriller Action Crime
4,Acts of Violence,Brett Donowho (director); Nicolas Aaron Mezzan...,Action Crime Thriller

In [90]:
print(movies_2018['Cast and crew'][0])

0    Adam Robitel (director); Leigh Whannell (scree...
0    John Krasinski (director/screenplay); Bryan Wo...
0    Richie Moore (director/screenplay); Raimund Hu...
0    Ruben Fleischer (director); Jeff Pinkner, Scot...
Name: Cast and crew, dtype: object

In [91]:
def get_director(x):
    if " (director)" in x: #we are getting "director"
        return x.split(" (director)")[0]
    elif " (directors)" in x: #we are getting "directors" with "s"
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0] #we are getting "directors/screenplay"

In [92]:
movies_2018['director_name'] = movies_2018['Cast and crew'].map(lambda x: get_director(x))

C:\Users\shekh\AppData\Local\Temp\ipykernel_5324\2537699914.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_2018['director_name'] = movies_2018['Cast and crew'].map(lambda x: get_director(x))

In [93]:
movies_2018

,Title,Cast and crew,genres,director_name
0,Insidious: The Last Key,Adam Robitel (director); Leigh Whannell (scree...,Horror Mystery Thriller,Adam Robitel
1,The Strange Ones,Christopher Radcliff (director/screenplay); La...,Drama Mystery,Christopher Radcliff (director/screenplay); La...
2,The Commuter,Jaume Collet-Serra (director); Byron Willinger...,Action Thriller Mystery,Jaume Collet-Serra
3,Proud Mary,"Babak Najafi (director); John S. Newman, Chris...",Thriller Action Crime,Babak Najafi
4,Acts of Violence,Brett Donowho (director); Nicolas Aaron Mezzan...,Action Crime Thriller,Brett Donowho
...,...,...,...,...
56,Second Act,"Peter Segal (director); Justin Zackham, Elaine...",Romance Comedy,Peter Segal
57,Holmes & Watson,Etan Cohen (director/screenplay); Will Ferrell...,Mystery Adventure Comedy Crime,Etan Cohen
58,Vice,Adam McKay (director/screenplay); Christian Ba...,Comedy Drama,Adam McKay
59,On the Basis of Sex,Mimi Leder (director); Daniel Stiepleman (scre...,Drama History,Mimi Leder
60,Destroyer,"Karyn Kusama (director); Phil Hay, Matt Manfre...",Thriller Crime Drama Action,Karyn Kusama

In [94]:

def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [95]:
movies_2018['actor_1_name'] = movies_2018['Cast and crew'].map(lambda x: get_actor1(x))

C:\Users\shekh\AppData\Local\Temp\ipykernel_5324\2847825268.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_2018['actor_1_name'] = movies_2018['Cast and crew'].map(lambda x: get_actor1(x))

In [96]:
movies_2018

,Title,Cast and crew,genres,director_name,actor_1_name
0,Insidious: The Last Key,Adam Robitel (director); Leigh Whannell (scree...,Horror Mystery Thriller,Adam Robitel,Lin Shaye
1,The Strange Ones,Christopher Radcliff (director/screenplay); La...,Drama Mystery,Christopher Radcliff (director/screenplay); La...,Lauren Wolkstein (director); Alex Pettyfer
2,The Commuter,Jaume Collet-Serra (director); Byron Willinger...,Action Thriller Mystery,Jaume Collet-Serra,Liam Neeson
3,Proud Mary,"Babak Najafi (director); John S. Newman, Chris...",Thriller Action Crime,Babak Najafi,Taraji P. Henson
4,Acts of Violence,Brett Donowho (director); Nicolas Aaron Mezzan...,Action Crime Thriller,Brett Donowho,Bruce Willis
...,...,...,...,...,...
56,Second Act,"Peter Segal (director); Justin Zackham, Elaine...",Romance Comedy,Peter Segal,Jennifer Lopez
57,Holmes & Watson,Etan Cohen (director/screenplay); Will Ferrell...,Mystery Adventure Comedy Crime,Etan Cohen,Will Ferrell
58,Vice,Adam McKay (director/screenplay); Christian Ba...,Comedy Drama,Adam McKay,Christian Bale
59,On the Basis of Sex,Mimi Leder (director); Daniel Stiepleman (scre...,Drama History,Mimi Leder,Felicity Jones
60,Destroyer,"Karyn Kusama (director); Phil Hay, Matt Manfre...",Thriller Crime Drama Action,Karyn Kusama,Nicole Kidman

In [97]:
import numpy as np
def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])
movies_2018['actor_2_name'] = movies_2018['Cast and crew'].map(lambda x: get_actor2(x))

C:\Users\shekh\AppData\Local\Temp\ipykernel_5324\2037924568.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_2018['actor_2_name'] = movies_2018['Cast and crew'].map(lambda x: get_actor2(x))

In [98]:
def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [99]:
movies_2018['actor_3_name'] = movies_2018['Cast and crew'].map(lambda x: get_actor3(x))

In [100]:
movies_2018 = movies_2018.rename(columns={'Title':"movie_title"})

In [101]:
movies_2018

,movie_title,Cast and crew,genres,director_name,actor_1_name,actor_2_name,actor_3_name
0,Insidious: The Last Key,Adam Robitel (director); Leigh Whannell (scree...,Horror Mystery Thriller,Adam Robitel,Lin Shaye,Angus Sampson,Leigh Whannell
1,The Strange Ones,Christopher Radcliff (director/screenplay); La...,Drama Mystery,Christopher Radcliff (director/screenplay); La...,Lauren Wolkstein (director); Alex Pettyfer,James Freedson-Jackson,Emily Althaus
2,The Commuter,Jaume Collet-Serra (director); Byron Willinger...,Action Thriller Mystery,Jaume Collet-Serra,Liam Neeson,Vera Farmiga,Patrick Wilson
3,Proud Mary,"Babak Najafi (director); John S. Newman, Chris...",Thriller Action Crime,Babak Najafi,Taraji P. Henson,Jahi Di'Allo Winston,Billy Brown
4,Acts of Violence,Brett Donowho (director); Nicolas Aaron Mezzan...,Action Crime Thriller,Brett Donowho,Bruce Willis,Cole Hauser,Shawn Ashmore
...,...,...,...,...,...,...,...
56,Second Act,"Peter Segal (director); Justin Zackham, Elaine...",Romance Comedy,Peter Segal,Jennifer Lopez,Leah Remini,Vanessa Hudgens
57,Holmes & Watson,Etan Cohen (director/screenplay); Will Ferrell...,Mystery Adventure Comedy Crime,Etan Cohen,Will Ferrell,John C. Reilly,Rebecca Hall
58,Vice,Adam McKay (director/screenplay); Christian Ba...,Comedy Drama,Adam McKay,Christian Bale,Amy Adams,Steve Carell
59,On the Basis of Sex,Mimi Leder (director); Daniel Stiepleman (scre...,Drama History,Mimi Leder,Felicity Jones,Armie Hammer,Justin Theroux
60,Destroyer,"Karyn Kusama (director); Phil Hay, Matt Manfre...",Thriller Crime Drama Action,Karyn Kusama,Nicole Kidman,Sebastian Stan,Toby Kebbell

In [102]:
new_data = movies_2018[['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [103]:
new_data

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,Adam Robitel,Lin Shaye,Angus Sampson,Leigh Whannell,Horror Mystery Thriller,Insidious: The Last Key
1,Christopher Radcliff (director/screenplay); La...,Lauren Wolkstein (director); Alex Pettyfer,James Freedson-Jackson,Emily Althaus,Drama Mystery,The Strange Ones
2,Jaume Collet-Serra,Liam Neeson,Vera Farmiga,Patrick Wilson,Action Thriller Mystery,The Commuter
3,Babak Najafi,Taraji P. Henson,Jahi Di'Allo Winston,Billy Brown,Thriller Action Crime,Proud Mary
4,Brett Donowho,Bruce Willis,Cole Hauser,Shawn Ashmore,Action Crime Thriller,Acts of Violence
...,...,...,...,...,...,...
56,Peter Segal,Jennifer Lopez,Leah Remini,Vanessa Hudgens,Romance Comedy,Second Act
57,Etan Cohen,Will Ferrell,John C. Reilly,Rebecca Hall,Mystery Adventure Comedy Crime,Holmes & Watson
58,Adam McKay,Christian Bale,Amy Adams,Steve Carell,Comedy Drama,Vice
59,Mimi Leder,Felicity Jones,Armie Hammer,Justin Theroux,Drama History,On the Basis of Sex
60,Karyn Kusama,Nicole Kidman,Sebastian Stan,Toby Kebbell,Thriller Crime Drama Action,Destroyer

In [104]:
new_data.isnull().sum()

director_name     0
actor_1_name      0
actor_2_name      4
actor_3_name     15
genres            0
movie_title       0
dtype: int64

In [105]:
new_data['actor_2_name'] = new_data['actor_2_name'].replace("unknown")
new_data['actor_3_name'] = new_data['actor_3_name'].replace("unknown")

C:\Users\shekh\AppData\Local\Temp\ipykernel_5324\1315689337.py:1: FutureWarning: Series.replace without 'value' and with non-dict-like 'to_replace' is deprecated and will raise in a future version. Explicitly specify the new values instead.
  new_data['actor_2_name'] = new_data['actor_2_name'].replace("unknown")
C:\Users\shekh\AppData\Local\Temp\ipykernel_5324\1315689337.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['actor_2_name'] = new_data['actor_2_name'].replace("unknown")
C:\Users\shekh\AppData\Local\Temp\ipykernel_5324\1315689337.py:2: FutureWarning: Series.replace without 'value' and with non-dict-like 'to_replace' is deprecated and will raise in a future version. Explicitly specify the new values instead.
  new_data['actor_3_name'] = new_data['actor_3_name'].replace("unknown")
C:\Users\shekh\AppData\Local\Temp\ipykernel_5324\1315689337.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['actor_3_name'] = new_data['actor_3_name'].replace("unknown")

In [106]:
new_data

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,Adam Robitel,Lin Shaye,Angus Sampson,Leigh Whannell,Horror Mystery Thriller,Insidious: The Last Key
1,Christopher Radcliff (director/screenplay); La...,Lauren Wolkstein (director); Alex Pettyfer,James Freedson-Jackson,Emily Althaus,Drama Mystery,The Strange Ones
2,Jaume Collet-Serra,Liam Neeson,Vera Farmiga,Patrick Wilson,Action Thriller Mystery,The Commuter
3,Babak Najafi,Taraji P. Henson,Jahi Di'Allo Winston,Billy Brown,Thriller Action Crime,Proud Mary
4,Brett Donowho,Bruce Willis,Cole Hauser,Shawn Ashmore,Action Crime Thriller,Acts of Violence
...,...,...,...,...,...,...
56,Peter Segal,Jennifer Lopez,Leah Remini,Vanessa Hudgens,Romance Comedy,Second Act
57,Etan Cohen,Will Ferrell,John C. Reilly,Rebecca Hall,Mystery Adventure Comedy Crime,Holmes & Watson
58,Adam McKay,Christian Bale,Amy Adams,Steve Carell,Comedy Drama,Vice
59,Mimi Leder,Felicity Jones,Armie Hammer,Justin Theroux,Drama History,On the Basis of Sex
60,Karyn Kusama,Nicole Kidman,Sebastian Stan,Toby Kebbell,Thriller Crime Drama Action,Destroyer

In [107]:
new_data['movie_title'] = new_data['movie_title'].str.lower()

C:\Users\shekh\AppData\Local\Temp\ipykernel_5324\2199470232.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['movie_title'] = new_data['movie_title'].str.lower()

In [108]:
new_data

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,Adam Robitel,Lin Shaye,Angus Sampson,Leigh Whannell,Horror Mystery Thriller,insidious: the last key
1,Christopher Radcliff (director/screenplay); La...,Lauren Wolkstein (director); Alex Pettyfer,James Freedson-Jackson,Emily Althaus,Drama Mystery,the strange ones
2,Jaume Collet-Serra,Liam Neeson,Vera Farmiga,Patrick Wilson,Action Thriller Mystery,the commuter
3,Babak Najafi,Taraji P. Henson,Jahi Di'Allo Winston,Billy Brown,Thriller Action Crime,proud mary
4,Brett Donowho,Bruce Willis,Cole Hauser,Shawn Ashmore,Action Crime Thriller,acts of violence
...,...,...,...,...,...,...
56,Peter Segal,Jennifer Lopez,Leah Remini,Vanessa Hudgens,Romance Comedy,second act
57,Etan Cohen,Will Ferrell,John C. Reilly,Rebecca Hall,Mystery Adventure Comedy Crime,holmes & watson
58,Adam McKay,Christian Bale,Amy Adams,Steve Carell,Comedy Drama,vice
59,Mimi Leder,Felicity Jones,Armie Hammer,Justin Theroux,Drama History,on the basis of sex
60,Karyn Kusama,Nicole Kidman,Sebastian Stan,Toby Kebbell,Thriller Crime Drama Action,destroyer

In [1]:
import pandas as pd

In [22]:
import pandas as pd
import requests
from requests.adapters import HTTPAdapter
from urllib3.util.retry import Retry
from requests.exceptions import Timeout, RequestException, ConnectionError

# Setup retry strategy
retry_strategy = Retry(
    total=5,  # Total number of retries
    backoff_factor=2,  # Exponential backoff factor
    status_forcelist=[429, 500, 502, 503, 504],  # Retry on these HTTP status codes
    method_whitelist=["HEAD", "GET", "OPTIONS"]  # Retry only on these methods
)

# Create an HTTP adapter with the retry strategy
adapter = HTTPAdapter(max_retries=retry_strategy)

# Create a session and mount the adapter
session = requests.Session()
session.mount("https://", adapter)
session.mount("http://", adapter)

# URL of the Wikipedia page
url_2018 = 'https://en.wikipedia.org/wiki/List_of_Hindi_films_of_2018'

def fetch_html(url):
    try:
        response = session.get(url, timeout=20)
        response.raise_for_status()  # Raise an exception for HTTP errors
        return response.content
    except Timeout:
        print(f"Request timed out for URL {url}.")
        return None
    except ConnectionError as e:
        print(f"Connection error for URL {url}: {e}")
        return None
    except RequestException as e:
        print(f"Request error fetching data from URL {url}: {e}")
        return None
    except Exception as e:
        print(f"Unexpected error fetching data from URL {url}: {e}")
        return None

# Fetch HTML content from the URL
html_content_2018 = fetch_html(url_2018)

# Read HTML data using pandas if content is fetched successfully
if html_content_2018:
    try:
        # Reading multiple tables on the page
        tables_2018 = pd.read_html(html_content_2018, header=0)
        
        # Extract specific tables
        df1_2018 = tables_2018[2]
        df2_2018 = tables_2018[3]
        df3_2018 = tables_2018[4]
        df4_2018 = tables_2018[5]
        
    except Exception as e:
        print(f"Error reading HTML content: {e}")
else:
    print("Failed to fetch HTML content.")

C:\Users\shekh\AppData\Local\Temp\ipykernel_14864\1642837390.py:8: DeprecationWarning: Using 'method_whitelist' with Retry is deprecated and will be removed in v2.0. Use 'allowed_methods' instead
  retry_strategy = Retry(

In [26]:
movies_2018 = pd.concat([df1_2018,df1_2018,df3_2018,df4_2018],axis=0)

In [27]:
len(movies_2018)

104

In [29]:
movies_2018 = movies_2018[['Title','Director','Cast']]

In [34]:
movies_2018

,Title,Director,Cast
0,1921,Vikram Bhatt,"Zareen Khan, Karan Kundra, Tobby Hinston, Soni..."
1,Kaalakaandi,Akshat Verma,"Saif Ali Khan, Isha Talwar, Shenaz Treasury, A..."
2,Mukkabaaz,Anurag Kashyap,"Vineet Kumar Singh, Zoya Hussain, Ravi Kishan,..."
3,Phir Se...,Kunal Kohli,"Jennifer Winget, Kunal Kohli, Rajit Kapur"
4,My Birthday Song,Samir Soni,"Sanjay Suri, Nora Fatehi, Pitobash"
...,...,...,...
19,Rajma Chawal,Leena Yadav,"Rishi Kapoor, Anirudh Tanwar, Amyra Dastur"
20,Kedarnath,Abhishek Kapoor,"Sushant Singh Rajput, Sara Ali Khan"
21,Ascharyachakit!,Samit Kakkad,"Priyanka Bose, Vaibhav Raj Gupta, Ankit Raaj, ..."
22,Zero,Aanand L. Rai,"Shah Rukh Khan, Katrina Kaif, Anushka Sharma, ..."
23,Simmba,Rohit Shetty,"Ranveer Singh, Sara Ali Khan, Sonu Sood"

In [107]:
# for i in movies_2018['Cast']:
#     try:
#         print(i.split(",")[2])
#     except Exception as e:
#         print(e)
import numpy as np

def get_actor11(text):
    
    actor = []
    for i in text:
        try:
            return i.split(",")[2]
        except Exception as e:
            print(e)
            return np.nan

In [108]:

get_actor11(movies_2018['Cast'])

' Tobby Hinston'

In [121]:


def get(x):
    if isinstance(x, str): 
        actor_list = x.split(",")
        if actor_list[0]:
            return actor_list[0].strip()  
    return None

In [122]:
movies_2018['actor_1_name'] = movies_2018['Cast'].apply(lambda x:get(x))

C:\Users\shekh\AppData\Local\Temp\ipykernel_14864\2911645283.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_2018['actor_1_name'] = movies_2018['Cast'].apply(lambda x:get(x))

In [125]:
def get2(x):
    if isinstance(x, str): 
        actor_list = x.split(",")
        if len(actor_list)>=2:
            return actor_list[1].strip()
        else:
            return np.nan  
    return np.nan

movies_2018['actor_2_name'] = movies_2018['Cast'].apply(lambda x:get2(x))

C:\Users\shekh\AppData\Local\Temp\ipykernel_14864\1443873180.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_2018['actor_2_name'] = movies_2018['Cast'].apply(lambda x:get2(x))

In [127]:
def get3(x):
    if isinstance(x, str): 
        actor_list = x.split(",")
        if len(actor_list)>=3:
            return actor_list[2].strip()
        else:
            return np.nan  
    return np.nan

movies_2018['actor_3_name'] = movies_2018['Cast'].apply(lambda x:get3(x))

C:\Users\shekh\AppData\Local\Temp\ipykernel_14864\121515625.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_2018['actor_3_name'] = movies_2018['Cast'].apply(lambda x:get3(x))

In [128]:
movies_2018.head()

              Title        Director                                               Cast        actor_1_name  actor_2_name     actor_3_name
0              1921    Vikram Bhatt  Zareen Khan, Karan Kundra, Tobby Hinston, Soni...         Zareen Khan  Karan Kundra    Tobby Hinston
1       Kaalakaandi    Akshat Verma  Saif Ali Khan, Isha Talwar, Shenaz Treasury, A...       Saif Ali Khan   Isha Talwar  Shenaz Treasury
2         Mukkabaaz  Anurag Kashyap  Vineet Kumar Singh, Zoya Hussain, Ravi Kishan,...  Vineet Kumar Singh  Zoya Hussain      Ravi Kishan
3        Phir Se...     Kunal Kohli          Jennifer Winget, Kunal Kohli, Rajit Kapur     Jennifer Winget   Kunal Kohli      Rajit Kapur
4  My Birthday Song      Samir Soni                 Sanjay Suri, Nora Fatehi, Pitobash         Sanjay Suri   Nora Fatehi         Pitobash

In [129]:
movies_2018 = movies_2018.drop('Cast',axis=1)

In [131]:
movies_2018['comb'] = movies_2018['actor_1_name']+" "+movies_2018['actor_2_name']+" "+movies_2018['actor_3_name']+" "+movies_2018['Director']

In [134]:
movies_2018.reset_index(inplace=True)

In [136]:
movies_2018.isnull().sum()

index            0
Title            1
Director         1
actor_1_name     2
actor_2_name     4
actor_3_name    18
comb            18
dtype: int64

In [137]:
movies_2018.dropna(subset='comb',axis=0,inplace=True)

In [138]:
movies_2018.isnull().sum()

index           0
Title           0
Director        0
actor_1_name    0
actor_2_name    0
actor_3_name    0
comb            0
dtype: int64

In [139]:
len(movies_2018)

86

In [147]:
movies_2018 = movies_2018.rename(columns={'Title':'movie_title',"Director":"director_name"})

In [140]:
movies_2018.to_csv('movies_2018_hindi.csv',index=False)

In [149]:
movies_2018.drop('index',axis=1,inplace=True)

In [151]:
movies_2018['movie_title'] = movies_2018['movie_title'].str.lower()

In [152]:
movies_2018.head(2)

   movie_title director_name   actor_1_name  actor_2_name     actor_3_name                                               comb
0         1921  Vikram Bhatt    Zareen Khan  Karan Kundra    Tobby Hinston  Zareen Khan Karan Kundra Tobby Hinston Vikram ...
1  kaalakaandi  Akshat Verma  Saif Ali Khan   Isha Talwar  Shenaz Treasury  Saif Ali Khan Isha Talwar Shenaz Treasury Aksh...

In [162]:
movies_2018.duplicated(subset=['movie_title']).sum()

21

In [163]:
movies_2018.drop_duplicates(subset=['movie_title'],inplace=True)

In [165]:
movies_2018.reset_index(inplace=True)

In [166]:
movies_2018.duplicated(subset=['movie_title']).sum()

0

In [167]:
len(movies_2018)

65

In [169]:
movies_2018.drop('index',axis=1,inplace=True)

In [171]:
movies_2018.isnull().sum()

movie_title      0
director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
comb             0
dtype: int64

In [178]:


from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = '6d8bfe0dbef34d25e64f64cabec93e20' 

from tmdbv3api import Movie

tmdb_movie = Movie()

# Using LRU cache to store results of previously fetched movie genres
def get_geners(x):
    genres = []

    result = tmdb_movie.search(x)

    movie_id = result[0].id
    responce = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
    data_json = responce.json()

    if data_json['genres']:
        genres_str = " "
        for i in range(0,len(data_json['genres'])):
            genres.append(data_json['genres'][i]['name'])
        return genres_str.join(genres)
    else:
        return np.nan

In [179]:
movies_2018['movie_title'][0]

'1921'

In [177]:
get_geners(movies_2018['movie_title'][0])

'History Drama War'

In [180]:
len(movies_2018)

65

In [182]:

from functools import lru_cache


# Using LRU cache to store results of previously fetched movie genres
@lru_cache(maxsize=1000)
def fetch_movie_genres(movie_id):
    try:
        response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}?api_key={tmdb.api_key}')
        if response.status_code != 200:
            return np.nan
        
        data_json = response.json()
        if 'genres' in data_json and data_json['genres']:
            return " ".join([genre['name'] for genre in data_json['genres']])
        else:
            return np.nan
    except Exception as e:
        print(f"Error fetching genres for movie ID {movie_id}: {e}")
        return np.nan

def get_genres(x):
    try:
        result = tmdb_movie.search(x)
        if not result:
            return np.nan
        
        movie_id = result[0].id
        return fetch_movie_genres(movie_id)
    except Exception as e:
        print(f"Error fetching genres for {x}: {e}")
        return np.nan

In [183]:
movies_2018['genres'] = movies_2018['movie_title'].apply(lambda x:get_geners(x))

In [185]:
movies_2018.head(5)

        movie_title   director_name        actor_1_name  actor_2_name     actor_3_name                                               comb                 genres
0              1921    Vikram Bhatt         Zareen Khan  Karan Kundra    Tobby Hinston  Zareen Khan Karan Kundra Tobby Hinston Vikram ...      History Drama War
1       kaalakaandi    Akshat Verma       Saif Ali Khan   Isha Talwar  Shenaz Treasury  Saif Ali Khan Isha Talwar Shenaz Treasury Aksh...  Comedy Thriller Drama
2         mukkabaaz  Anurag Kashyap  Vineet Kumar Singh  Zoya Hussain      Ravi Kishan  Vineet Kumar Singh Zoya Hussain Ravi Kishan An...                  Drama
3        phir se...     Kunal Kohli     Jennifer Winget   Kunal Kohli      Rajit Kapur  Jennifer Winget Kunal Kohli Rajit Kapur Kunal ...           Comedy Drama
4  my birthday song      Samir Soni         Sanjay Suri   Nora Fatehi         Pitobash        Sanjay Suri Nora Fatehi Pitobash Samir Soni               Thriller

In [186]:
movies_2018.duplicated(subset='movie_title').sum()

0

In [187]:
movies_2018.isnull().sum()

movie_title      0
director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
comb             0
genres           2
dtype: int64

In [188]:
movies_2018.dropna(inplace=True)

In [189]:
movies_2018.isnull().sum()

movie_title      0
director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
comb             0
genres           0
dtype: int64

In [190]:
len(movies_2018)

63

In [192]:
movies_2018.to_csv("movies_2018_hindi.csv",index=False)

In [193]:
# URL of the Wikipedia page
url_2017 = 'https://en.wikipedia.org/wiki/List_of_Hindi_films_of_2017'

def fetch_html(url):
    try:
        response = session.get(url, timeout=20)
        response.raise_for_status()  # Raise an exception for HTTP errors
        return response.content
    except Timeout:
        print(f"Request timed out for URL {url}.")
        return None
    except ConnectionError as e:
        print(f"Connection error for URL {url}: {e}")
        return None
    except RequestException as e:
        print(f"Request error fetching data from URL {url}: {e}")
        return None
    except Exception as e:
        print(f"Unexpected error fetching data from URL {url}: {e}")
        return None

# Fetch HTML content from the URL
html_content_2017 = fetch_html(url_2017)

# Read HTML data using pandas if content is fetched successfully
if html_content_2017:
    try:
        # Reading multiple tables on the page
        tables_2017 = pd.read_html(html_content_2017, header=0)
        
        # Extract specific tables
        df1_2017 = tables_2017[2]
        df2_2017 = tables_2017[3]
        df3_2017 = tables_2017[4]
        df4_2017 = tables_2017[5]
        
    except Exception as e:
        print(f"Error reading HTML content: {e}")
else:
    print("Failed to fetch HTML content.")

In [195]:
movies_2017 = pd.concat([df1_2017,df2_2017,df3_2017,df4_2017],axis=0).reset_index()

In [198]:
movies_2017.head()

   index Opening  Opening.1             Title        Director                                               Cast                                   Production house      Ref.
0      0   J A N         12              1921    Vikram Bhatt  Zareen Khan, Karan Kundra, Tobby Hinston, Soni...  Reliance Entertainment, LoneRanger Productions...  [15][16]
1      1   J A N         12       Kaalakaandi    Akshat Verma  Saif Ali Khan, Isha Talwar, Shenaz Treasury, A...                             Cinestaan Film Company  [17][18]
2      2   J A N         12         Mukkabaaz  Anurag Kashyap  Vineet Kumar Singh, Zoya Hussain, Ravi Kishan,...      Eros International, Colour Yellow Productions  [19][20]
3      3   J A N         15        Phir Se...     Kunal Kohli          Jennifer Winget, Kunal Kohli, Rajit Kapur                                Bombay Film Company      [21]
4      4   J A N         19  My Birthday Song      Samir Soni                 Sanjay Suri, Nora Fatehi, Pitobash                                Kahwa entertainment  [22][23]

In [200]:
movies_2017 = movies_2017[['Title','Director','Cast']]

In [202]:
movies_2017.head(2)

         Title      Director                                               Cast
0         1921  Vikram Bhatt  Zareen Khan, Karan Kundra, Tobby Hinston, Soni...
1  Kaalakaandi  Akshat Verma  Saif Ali Khan, Isha Talwar, Shenaz Treasury, A...

In [203]:


def get(x):
    if isinstance(x, str): 
        actor_list = x.split(",")
        if actor_list[0]:
            return actor_list[0].strip()  
    return None

movies_2017['actor_1_name'] = movies_2017['Cast'].apply(lambda x:get(x))

def get2(x):
    if isinstance(x, str): 
        actor_list = x.split(",")
        if len(actor_list)>=2:
            return actor_list[1].strip()
        else:
            return np.nan  
    return np.nan

movies_2017['actor_2_name'] = movies_2017['Cast'].apply(lambda x:get2(x))

def get3(x):
    if isinstance(x, str): 
        actor_list = x.split(",")
        if len(actor_list)>=3:
            return actor_list[2].strip()
        else:
            return np.nan  
    return np.nan

movies_2017['actor_3_name'] = movies_2017['Cast'].apply(lambda x:get3(x))

C:\Users\shekh\AppData\Local\Temp\ipykernel_14864\3453103994.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_2017['actor_1_name'] = movies_2017['Cast'].apply(lambda x:get(x))
C:\Users\shekh\AppData\Local\Temp\ipykernel_14864\3453103994.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_2017['actor_2_name'] = movies_2017['Cast'].apply(lambda x:get2(x))
C:\Users\shekh\AppData\Local\Temp\ipykernel_14864\3453103994.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_2017['actor_3_name'] = movies_2017['Cast'].apply(lambda x:get3(x))

In [205]:
movies_2017 = movies_2017.rename(columns={'Title':'movie_title',"Director":"director_name"})

In [207]:
movies_2017.drop('Cast',inplace=True,axis=1)

In [209]:
movies_2017['movie_title'] = movies_2017['movie_title'].str.lower()

In [211]:
movies_2017['comb'] = movies_2017['actor_1_name']+" "+movies_2017['actor_2_name']+" "+movies_2017['actor_3_name']+" "+movies_2017['director_name']

In [213]:
movies_2017.duplicated(subset='movie_title').sum()

0

In [214]:
movies_2017.isnull().sum()

movie_title       1
director_name     1
actor_1_name      2
actor_2_name      5
actor_3_name     21
comb             21
dtype: int64

In [215]:
len(movies_2017)

104

In [216]:
movies_2017.dropna(inplace=True)

In [225]:
movies_2017.isnull().sum()

movie_title      0
director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
comb             0
genres           0
dtype: int64

In [218]:
len(movies_2017)

83

In [221]:
movies_2017['genres'] = movies_2017['movie_title'].apply(lambda x:get_genres(x))

In [224]:
movies_2017.dropna(inplace=True)

In [226]:
movies_2017.to_csv("movies_2017_hindi.csv",index=False)

In [229]:
import pandas as pd
import requests
from requests.adapters import HTTPAdapter
from urllib3.util.retry import Retry
from requests.exceptions import Timeout, RequestException, ConnectionError



from functools import lru_cache

from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = '6d8bfe0dbef34d25e64f64cabec93e20' 

from tmdbv3api import Movie

tmdb_movie = Movie()


# Using LRU cache to store results of previously fetched movie genres
@lru_cache(maxsize=1000)
def fetch_movie_genres(movie_id):
    try:
        response = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}?api_key={tmdb.api_key}')
        if response.status_code != 200:
            return np.nan
        
        data_json = response.json()
        if 'genres' in data_json and data_json['genres']:
            return " ".join([genre['name'] for genre in data_json['genres']])
        else:
            return np.nan
    except Exception as e:
        print(f"Error fetching genres for movie ID {movie_id}: {e}")
        return np.nan

def get_genres(x):
    try:
        result = tmdb_movie.search(x)
        if not result:
            return np.nan
        
        movie_id = result[0].id
        return fetch_movie_genres(movie_id)
    except Exception as e:
        print(f"Error fetching genres for {x}: {e}")
        return np.nan



# Setup retry strategy
retry_strategy = Retry(
    total=5,  # Total number of retries
    backoff_factor=2,  # Exponential backoff factor
    status_forcelist=[429, 500, 502, 503, 504],  # Retry on these HTTP status codes
    method_whitelist=["HEAD", "GET", "OPTIONS"]  # Retry only on these methods
)

# Create an HTTP adapter with the retry strategy
adapter = HTTPAdapter(max_retries=retry_strategy)

# Create a session and mount the adapter
session = requests.Session()
session.mount("https://", adapter)
session.mount("http://", adapter)


def get(x):
    if isinstance(x, str): 
        actor_list = x.split(",")
        if actor_list[0]:
            return actor_list[0].strip()  
    return None

def get2(x):
    if isinstance(x, str): 
        actor_list = x.split(",")
        if len(actor_list)>=2:
            return actor_list[1].strip()
        else:
            return np.nan  
    return np.nan


def get3(x):
    if isinstance(x, str): 
        actor_list = x.split(",")
        if len(actor_list)>=3:
            return actor_list[2].strip()
        else:
            return np.nan  
    return np.nan



def fetch_html(url):
    try:
        response = session.get(url, timeout=20)
        response.raise_for_status()  # Raise an exception for HTTP errors
        return response.content
    except Timeout:
        print(f"Request timed out for URL {url}.")
        return None
    except ConnectionError as e:
        print(f"Connection error for URL {url}: {e}")
        return None
    except RequestException as e:
        print(f"Request error fetching data from URL {url}: {e}")
        return None
    except Exception as e:
        print(f"Unexpected error fetching data from URL {url}: {e}")
        return None


def create_df(url):
    # Fetch HTML content from the URL
    html_content = fetch_html(url)

    # Read HTML data using pandas if content is fetched successfully
    if html_content:
        try:
            # Reading multiple tables on the page
            tables = pd.read_html(html_content, header=0)
        
            # Extract specific tables
            df1 = tables[2]
            df2 = tables[3]
            df3 = tables[4]
            df4 = tables[5]
        
        except Exception as e:
            print(f"Error reading HTML content: {e}")
    else:
        print("Failed to fetch HTML content.")
    
    movies = pd.concat([df1,df2,df3,df4],axis=0).reset_index()

    movies = movies[['Title','Director','Cast']]
    movies['actor_1_name'] = movies['Cast'].apply(lambda x:get(x))
    movies['actor_2_name'] = movies['Cast'].apply(lambda x:get2(x))
    movies['actor_3_name'] = movies['Cast'].apply(lambda x:get3(x))
    movies = movies.rename(columns={'Title':'movie_title',"Director":"director_name"})

    movies.drop('Cast',inplace=True,axis=1)
    movies['movie_title'] = movies['movie_title'].str.lower()

    movies['comb'] = movies['actor_1_name']+" "+movies['actor_2_name']+" "+movies['actor_3_name']+" "+movies['director_name']
    
    movies['genres'] = movies['movie_title'].apply(lambda x:get_genres(x))

    return movies

C:\Users\shekh\AppData\Local\Temp\ipykernel_14864\2911451016.py:8: DeprecationWarning: Using 'method_whitelist' with Retry is deprecated and will be removed in v2.0. Use 'allowed_methods' instead
  retry_strategy = Retry(

In [230]:
data_2017_movies = create_df("https://en.wikipedia.org/wiki/List_of_Hindi_films_of_2017")
data_2018_movies = create_df('https://en.wikipedia.org/wiki/List_of_Hindi_films_of_2018')
data_2019_movies = create_df("https://en.wikipedia.org/wiki/List_of_Hindi_films_of_2019")
data_2020_movies = create_df('https://en.wikipedia.org/wiki/List_of_Hindi_films_of_2020')
data_2021_movies = create_df("https://en.wikipedia.org/wiki/List_of_Hindi_films_of_2021")
data_2022_movies = create_df('https://en.wikipedia.org/wiki/List_of_Hindi_films_of_2022')
data_2023_movies = create_df("https://en.wikipedia.org/wiki/List_of_Hindi_films_of_2023")
data_2024_movies = create_df('https://en.wikipedia.org/wiki/List_of_Hindi_films_of_2024')

Error fetching genres for poorna: courage has no limit: attribute name must be string, not 'int'
Error fetching genres for romeo-n-bullet: attribute name must be string, not 'int'
Error fetching genres for ek thi rani aisi bhi: attribute name must be string, not 'int'
Error fetching genres for ajab singh ki gajab kahani: attribute name must be string, not 'int'
Error fetching genres for chakallaspur: attribute name must be string, not 'int'
Error fetching genres for nan: quote_from_bytes() expected bytes
Error fetching genres for main terrorist nahi hoon: attribute name must be string, not 'int'
Error fetching genres for saankal: attribute name must be string, not 'int'

In [232]:
data_2017_movies.duplicated().sum()

0

In [233]:
data_2017_movies.isnull().sum()

movie_title       1
director_name     1
actor_1_name      1
actor_2_name     18
actor_3_name     58
comb             58
genres           16
dtype: int64

In [234]:
len(data_2017_movies)

127